<html>
<head>
	<title>Yeng</title>
	<meta name="description" content="Yeng Pc Remote  Controller">
</head>
<style>
/*	.command-menu {
		display:flex;
	}
*/
</style>
<body>
<center>
<h1 style="color: blue; background-color: lightgray;">Yeng</h1>
<p>Hoşgeldin {{ user }}!</p>
</center>

<div class="command-menu">
<h1>Komut Çalıştırın</h1>
<form method="POST">
	<input type="text" name="command" autocomplete="off"><br>
	<input type="submit" value="Tamam">
</form>

</div>

</body>
</html>
